<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataProviders>
      <!--<productReadOnlyDataProvider type="Practice.CustomDataProvider.DataProviders.ProductReadOnlyDataProvider, Practice.CustomDataProvider">
        <param desc="targetDatabaseName">master</param>
        <param desc="productRootTemplateID">{D5C6807B-CB29-48EC-99FA-E074AC30FCBF}</param>
        <param desc="productTemplateID">{286767A3-7880-4822-AA8E-56BA1B8E603E}</param>
        <param desc="idTablePrefix">HierachicalProducts</param>
      </productReadOnlyDataProvider>-->
      <simpleHierachicalReadOnlyDataProvider type="Practice.CustomDataProvider.DataProviders.SimpleHierachicalReadOnlyDataProvider, Practice.CustomDataProvider">
        <param desc="targetDatabaseName">master</param>
        <param desc="rootTemplateId">{D5C6807B-CB29-48EC-99FA-E074AC30FCBF}</param>
        <param desc="rootItemId">{1CC83FAE-C39F-4FDC-9420-157C97C0D737}</param>
        <param desc="simpleReadOnlyDataTemplateId">{286767A3-7880-4822-AA8E-56BA1B8E603E}</param>
        <param desc="idTablePrefix">HierachicalProducts</param>
      </simpleHierachicalReadOnlyDataProvider>
    </dataProviders>
    <databases>
      <database id="master" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <dataProviders hint="list:AddDataProvider">
          <!--<dataProvider patch:before="*[1]" ref="dataProviders/productReadOnlyDataProvider"/>-->
          <dataProvider patch:before="*[1]" ref="dataProviders/simpleHierachicalReadOnlyDataProvider"/>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>